.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 20px;
}

.product img {
    height: 400px;
    width: 400px;
    margin-left: 100px;
}

.product h1 {
    font-size: 50px;
    color: blueviolet;
}